*{
    
    color: rgb(22, 22, 16);
    margin: 15px;

}
body {
    margin: 20px;
    background-color: #825E03  ;
    font-family: Verdana, Geneva, Tahoma, sans-serif  ;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

div, button {
    margin-bottom: 10px;
}
button {
    padding: 5px 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    color: brown;
}